node_modules/*
/.idea
/docs/.vitepress/cache

# Generated pages
docs/index.md
docs/people/
docs/works/
docs/companies/
docs/publishers/
docs/years/

# Generated VitePress files
docs/.vitepress/sidebar.ts

# Indexind
docs/public/robots.txt
docs/public/sitemap.xml